---
layout: default
title: "biography"
permalink: /biography/
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
</head>

<body>
    <div class="container_header">
        <div class="container_bak"></div>
        <div class="diamond-pattern-overlay"></div>
        <div class="text_wrapper">
            <div class="text-intro"><strong>About me</strong></div>
            <div class="text-subtitle"><strong>Biography</strong></div>
            <div class="text-desc">I am a Tenure-Track Assistant Professor in the Data Science and Analytics Thrust and
                the Internet of Things Thrust, Information Hub, Hong Kong University of Science and Technology
                (Guangzhou).</div>
        </div>
    </div>

    <div class="bar-container">
        <div class="bar-text">
            BIOGRAPHY
        </div>
    </div>

    <div class="experience-section">
        {% for item in site.data.biography %}
        <div class="exp-subtitle"><strong>{{ item.title }}</strong> ({{ item.duration }})</div>
        <div class="experience-item">
            {% if item.link1 %}
            <div>{{ item.link1 }}</div>
            {% endif %}
            {% if item.link2 %}
            <div>{{ item.link2 }}</div>
            {% endif %}
            {% if item.link3 %}
            <div>{{ item.link3 }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>





    <div class="bar-container">
        <div class="bar-text">
            SERVICE
        </div>
    </div>

    <div class="service-section">
        <div class="service-subtitle"><strong>Organizing/Technical Committee:</strong></div>
        <ul class="service-list">
            {% for item in site.data.committee %}
            <li>{{ item.content | markdownify | strip_html | strip }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="service-section">
        <div class="service-subtitle"><strong>Technical Review:</strong></div>
        <ul class="service-list">
            {% for item in site.data.review %}
            <li>{{ item.content | markdownify | strip_html | strip }}</li>
            {% endfor %}
        </ul>
    </div>

</body>

</html>