---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">

  <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
</head>

<body>
  <div class="container_header">
    <div class="text-box">
      <p>Welcome to <strong>Ning's Lab</strong>, ...</p>
    </div>
  </div>

  <div class="container_photobox">
    <p>Here is our photo</p>
  </div>

  <div class="container_researchbox">
    <p>Our research focus on ...</p>
  </div>

<div class="outer-container">
  <h2>News</h2>
    <button class="nav-btn left">
      <img src="/assets/icons/button-left.svg" alt="left" width="44" height="44" />
    </button>
    <button class="nav-btn right">
      <img src="/assets/icons/button-right.svg" alt="right" width="44" height="44" />
    </button>
  <div class="news-wrapper">
    <div id="newsContainer" class="news-container" data-news='[
      {% for item in site.data.news %}
        {
          "content": "{{ item.content | escape }}",
          "date": "{{ item.date | date: "%Y-%m-%d" }}"
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]'></div>


  </div>
</div>

<div class="gallery-container">
        <button class="gallery-btn left">
      <img src="/assets/icons/button-grey-left.svg" alt="left" width="44" height="44" />
    </button>
    <button class="gallery-btn right">
      <img src="/assets/icons/button-grey-right.svg" alt="right" width="44" height="44" />
    </button>
  <div class="gallery-background"></div>
  <div class="gallery">
    <div class="gallery-slider" id="gallerySlider" data-images='[
      {% for item in site.data.gallery %}
        "{{ item.url }}"{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]'>
    </div>
  </div>
</div>


</div>
  <script src="scripts/news.js"></script>
  <script src="scripts/gallery.js"></script>
</body>

</html>