---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">

  <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
</head>

<body>

  <section class="full-width-section index-area">
    <div class="container">
      <h1>ABOUT ME</h1>
      <h1 style="color: #cfa827;">BIOGRAPHY</h1>
      <p>The Hong Kong University of Science and Technology (Guangzhou).</p>
    </div>
  </section>

  <div class="index-content" style="max-width: 1200px;">
    <div class="image-text-block">
      <img src="/assets/avatars/ningningding_bio.jpg" alt="example" class="image">
      <div class="text">
        <p>I am a Tenure-Track Assistant Professor in the Data Science and Analytics Thrust and
          the Internet of Things Thrust, Information Hub, Hong Kong University of Science and Technology
          (Guangzhou).
          My research focuses on interdisciplinary areas of artificial intelligence, network systems, and network
          economics.
          Multiple PhD openings are available [Details]. If you are interested, please email me your CV and transcripts!
        </p>
      </div>
    </div>

  </div>

  <div class="background-div">
  </div>



  <div class="page-content" style="max-width: 1200px;">
    <div class="bar-container">
      <div class="bar-text">
        BIOGRAPHY
      </div>
    </div>

    <div class="experience-section">
      {% for item in site.data.biography %}
      <div class="exp-subtitle"><strong>{{ item.title }}</strong> ({{ item.duration }})</div>
      <div class="experience-item">
        {% if item.link1 %}
        <div>{{ item.link1 }}</div>
        {% endif %}
        {% if item.link2 %}
        <div>{{ item.link2 }}</div>
        {% endif %}
        {% if item.link3 %}
        <div>{{ item.link3 }}</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="page-content" style="max-width: 1200px;">


    <div class="bar-container">
      <div class="bar-text">
        SERVICE
      </div>
    </div>

    <div class="service-section">
      <div class="service-subtitle"><strong>Organizing/Technical Committee:</strong></div>
      <ul class="service-list">
        {% for item in site.data.committee %}
        <li>{{ item.content | markdownify | strip_html | strip }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="service-section">
      <div class="service-subtitle"><strong>Technical Review:</strong></div>
      <ul class="service-list">
        {% for item in site.data.review %}
        <li>{{ item.content | markdownify | strip_html | strip }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

</body>

</html>