---
layout: default
title: "people"
permalink: /people/
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
</head>

<body>
  <div class="container_header">
    <div class="text-box">
      <p>Meet our group</p>
    </div>
</div>
  <div class="bar-container">
  <div class="bar-text">
    FACULTY
  </div>
  </div>
  
<div class="people-list">
  {% assign target_category = "Faculty" %}
  {% for person in site.data.people %}
    {% if person.category == target_category %}
      <div class="person-card">
          <img src="{{ person.avatar }}" alt="{{ person.name }} 头像" class="person-avatar" />
          <p class="person-name">{{ person.name }}</p>
          <p class="person-gender">{{ person.gender }}</p>
          <p class="person-description">{{ person.description }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>

  <div class="bar-container">
  <div class="bar-text">
    PHD STUDENT
  </div>
  </div>

    <div class="people-list">
  {% assign target_category = "PhD" %}
  {% for person in site.data.people %}
    {% if person.category == target_category %}
      <div class="person-card">
          <img src="{{ person.avatar }}" alt="{{ person.name }} 头像" class="person-avatar" />
          <p class="person-name">{{ person.name }}</p>
          <p class="person-gender">{{ person.gender }}</p>
          <p class="person-description">{{ person.description }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>

  <div class="bar-container">
  <div class="bar-text">
    INTERNSHIP
  </div>
  </div>

    <div class="people-list">
  {% assign target_category = "RA" %}
  {% for person in site.data.people %}
    {% if person.category == target_category %}
      <div class="person-card">
          <img src="{{ person.avatar }}" alt="{{ person.name }} 头像" class="person-avatar" />
          <p class="person-name">{{ person.name }}</p>
          <p class="person-gender">{{ person.gender }}</p>
          <p class="person-description">{{ person.description }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>




</div>
</body>

</html>
