.bar-container {
  height: 45px;
  width: 80%;
  max-width: $max-width;
  background-color: $main_color; // 淡紫色
  margin: 20px auto; // 居中 + 上下间距
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;

  .bar-text {
    width: 80%;
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    line-height: 45px; // 与背景一致，垂直居中
  }
}
