.container_header {
    width: 80%;
    max-width: $max-width;
    height: 300px;
    margin: 0 auto;
    padding: 0;
    background-color: $constrast-color;
    position: relative;
    /* 为绝对定位做准备 */
}

.container_photobox {
    width: 80%;
    height: 400px;
    max-width: $max-width;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    position: relative;
    /* 为绝对定位做准备 */
}

.container_researchbox {
    width: 80%;
    max-width: $max-width;
    height: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: $constrast-color;
    position: relative;
}


.text-box {
    width: 40%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}