// 颜色变量
$primary-color: #007bff;
$text-color: #333;
$white-color: #ffffff;
$black-overlay: rgba(0, 0, 0, 0.5);

// 字体变量
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;

// 间距变量
$spacing-unit: 1rem; // 16px
$header-height: 60px;

// 背景图片路径
$hero-background-image: '/assets/images/bak1.jpg'; 
$hero-background-image-alt: '/assets/gallery/index.jpg';
$black-overlay: rgba(0, 0, 0, 0.4); 